
@{
    ViewBag.Title = "Cookie Ata";
}


<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Assign Cookie Page
                </div>
                <div class="block-controls">
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <form action="/Home/CookieAta" method="post" role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Cookie Name:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Type a Cookie Name" name="CookieAdi">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Cookie Value:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Type Value of Cookie" name="CookieDegeri">
                        </div>

                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>