
@{
    ViewBag.Title = "Add Food Company";
}

@using FoodOrderingSystem.Models

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Add Food Company Page
                </div>
                <div class="block-controls">
                    <a href="/Tedarikci/Index"><span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span></a>
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <form action="/Tedarikci/AddCompany" method="post" role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Company Name:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Type a Company Name" name="CompanyName">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Customer Name:</label>
                            <select name="UserId">
                                @foreach (aspnet_Users cus in ViewBag.aspnet_Users)
                                {
                                    <option value="@cus.UserId">@cus.UserName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Company Definition:</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Type the Definition of your Company" name="CompanyDefinition">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Country:</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Type country of the Customer" name="Country">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">City:</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Type city of the Customer" name="City">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">GSM Number:</label>
                            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Type Price of the Product" name="GSM">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Address:</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Type Address of Your Compnay" name="CompanyAddress">
                        </div>

                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

